<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Edit this movie</title>
		<link rel="stylesheet" href="/Css/container.css">
	</head>
	<body>
	   <div class="Container">
		<h1>Edit this movie</h1>

		<form action="" method="post">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<div>
					<input type="hidden" th:field="${movieItem.id}" />
				</div>
				<div>
					Movie name: <input type="text" th:field="${movieItem.name}" />
				</div>
				<div>
					rating: <input type="text" th:field="${movieItem.rating}"/>
				</div>
				<div>
					Date of watch: <input type="date" name="dateofwatch" th:value="${movieItem.date}"/>
				</div>
				<hr/>
				<button type="submit">Update movie</button>
		</form>
		<form th:action="@{/{userId}/movie/{movieId}/delete(movieId=${movieItem.id}, userId=${user.id})}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				<button type="submit">delete movie</button>
		</form>
		
		<a th:href="@{/dashboard}">Go back</a>
	  </div>
	</body>
</html>